{% extends 'header.html' %}
{% block myContent %}
<style>
  .p1{
      font-family: cursive ;
  }
  .p2{
      font-family: sans-serif;
  }
  .p3{
      font-family: sans-serif;
  }
  .p4{
      font-family: sans-serif;
  }

  

</style>
<br>
<br>
<br>
<br>
<br>

<center>
    
    <!-- <img width="280" height="200" src="/static/css/BUILDING.jpg/" alt=""> -->
    <p class="p1">CONTACT US:</p> 
    <p class="p2"> SAM BUILDERS </p>
    <p class="p3"> Ph no: 9008496668 </p>
    <p class="p4"> DELHI-564554 </p>
    
</center>

{% endblock %}