{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <form action="http://127.0.0.1:8000/Flat/addpage/" method="post">
            <table class="table table-borderless">
                <tr>
                    <td>FLAT NO</td>
                    <td><input name="flat_no" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>BUILDING NO</td>
                    <td><input  name="building_no" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>OWNER NAME</td>
                    <td><input  name="owner_name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>MOBILE NO</td>
                    <td><input  name="mobile_no" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>ADDRESS</td>
                    <td><input  name="address" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>AADHAR NO</td>
                    <td><input  name="aadhar_no" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>EMAIL ID</td>
                    <td><input  name="email_id" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td><input  name="password" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary">REGISTER</button></center></td>
                </tr>
            </table>
          </form>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
</div>    
{% endblock %}
    
