{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
        <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>FLAT NO</th>
                        <th>BUILDING NO</th>
                        <th>OWNER NAME</th>
                        <th>MOBILE NO</th>
                        <th>ADDRESS</th>
                        <th>AADHAR NO</th>
                        <th>EMAIL ID</th>
                        <th>PASSWORD</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.flat_no }}</td>
                        <td>{{ i.building_no }}</td>
                        <td>{{ i.owner_name }}</td>
                        <td>{{ i.mobile_no }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.aadhar_no }}</td>  
                        <td>{{ i.email_id }}</td>
                        <td>{{ i.password }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
    </div>
</div>     

{% endblock %}