{% extends 'welcome.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col sm-2 col cd-2 col lg-2 col xl-2 col xxl-2"></div>
        <div class="col col-12 col sm-8 col cd-8 col lg-8 col xl-8 col xxl-8">
<form action="http://127.0.0.1:8000/flat/deletesearch/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td><font color="white">Building Number</font></td>
                    <td><input name="building_no" placeholder="Enter the Search Building Details" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="Submit" class="class btn btn-warning">SEARCH</button></td>
                </tr>
            </table>
</form>
{%if data%}
<form action="http://127.0.0.1:8000/flat/deleteread/" method="POST">
<table class="table table-borderless">
    {% for i in data %}

    <tr>
        <td><font color="white"> </font></td>
        <td><font color="white"><input readonly name="newid" value="{{i.id}}" type="hidden" class="form-control"></font></td>
    </tr>
        <tr>
            <td><font color="white">Building Number</font></td>
            <td><font color="white"><input readonly name="newbuildingno" value="{{i.building_no}}" type="text" class="form-control"></font></td>
        </tr>
        
        <tr>
            <td><font color="white">Owner Name</font></td>
            <td><font color="white"><input readonly name="newownername" value="{{i.owner_name}}" type="text" class="form-control"></font></td>
           
        </tr>
        <tr>
            <td><font color="white">Address</font></td>
            <td><font color="white"><input readonly name="newaddress" value="{{i.address}}" type="text" class="form-control"></font></td>
        </tr>
        <tr>
            <td><font color="white">Mobile Name</font></td>
            <td><font color="white"><input readonly name="newmblno" value="{{i.mbl_no}}" type="text" class="form-control"></font></td>
        </tr>
        <tr>
            <td><font color="white">Aadhar Number</font></td>
            <td><font color="white"><input readonly name="newaadharno" value="{{i.aadhar_no}}" type="text" class="form-control"></font></td>
        </tr>
        <tr>
            <td><font color="white">Email Id</font></td>
            <td><font color="white"><input readonly name="newemailid" value="{{i.email_id}}" type="text" class="form-control"></font></td>
        </tr>
        <tr>
            <td><font color="white">Password</font></td>
            <td><font color="white"><input readonly name="newpassword" value="{{i.password}}" type="password" class="form-control"></font></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="Summit" class="btn btn-danger">DELETE</button></td>
        </tr>
    {% endfor %}
</table>
</form>
</div>

{% endif %}
<div class="col col-12 col sm-2 col cd-2 col lg-2 col xl-2 col xxl-2"></div>
    </div>
</div>
{% endblock %} 
