body{
    /* background-image:url('/static/image.jfif'); */
    background: linear-gradient(
      #efefbb
      , 
      #d4d3dd
      ); 
    /* background-color: salmon; */
    height: 100vh;
  }
  h1{
    background-color: rgb(59, 212, 59) ;
    color: rgb(218, 164, 19);
  }
  .world_title{
    background-color: greenyellow;
    color: rebeccapurple;
  }
  #welcome{
    background-color: rgb(218, 164, 19);
    color: rgb(59, 212, 59);
  }