{% extends 'welcome.html' %}
{% block myContent %}
<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          
      </div>
      <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
      <table class="table">
              <table class="borderless">
              <h1> LOGIN FORM </h1>
                  <tr>
                      <td> User Name</td>
                      <td><input placeholder="Enter the User Name" type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td> Password </td>
                      <td><input placeholder="Enter the Password" type="password" class="form-control"></td>
                  </tr>
                  <tr>
                      <td> Conform Password </td>
                      <td><input placeholder="Enter the password" type="password" class="form-control"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                      <center> <Button class="btn btn-dark">LOGIN</Button></center></td>
                  </tr>
      </table>
  </div>
  <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
</div>
</div>
{% endblock %}