{% extends 'welcome.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <center><h2> VIEW ALL VACCINATE DETAILS</h2></center>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vaccinate Number</th>
                    <th>  Name</th>
                    <th> Address </th>
                    <th>  Aadhar Number</th>
                    <th> Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ i.vno }}</td>
                    <td>{{ i.vname }}</td>
                    <td>{{ i.vaddress }}</td>
                    <td>{{ i.vaadharno }}</td>
                    <td>{{ i.vmblno }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
{% endblock %}