<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
</head>
<body>
    <table class="table">
    <tr>
        <td> Product Name</td>
        <td><input class="form-control" type="text"></td>
    </tr>
    <tr>
        <td> Product Details</td>
        <td><input class="form-control" type="text"></td>
    </tr>
    <tr>
        <td> Seller Name </td>
        <td><input class="form-control" type="text"></td>
    </tr>
    <tr>
        <td> Manufacture Name </td>
        <td><input class="form-control" type="text"></td>
    </tr>
    <tr>
        <td> Manufactuing Date </td>
        <td><input class="form-control" type="date"></td>
    </tr>
    <tr>
        <td> Expire Date </td>
        <td><input class="form-control" type="date"></td>
    </tr>
    <tr>
        <td> Branch </td>
        <td>
            <select name="Branch" id="">
                <option value="Jewels"> Jewels</option>
                <option value="Food"> Food</option>
                <option value="Things"> Things</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-danger"> Submit </button>
        </td>
    </tr>
    </table>
</body>
</html>