<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body class="body">
    <table class="table">
    <tr>
        <td> UserName </td>
        <td> <input placeholder="Enter the User Name" class="form-control" type="text"></td>
    </tr>
    <tr>
        <td> Password </td>
        <td><input placeholder="Enter the Password" class="form-control" type="password"></td>
    </tr>
    <tr>
        <td> Conform Password</td>
        <td><input placeholder="Enter the Conform Password" class="form-control" type="password"></td>
    </tr>
    <tr>
        <td> Country </td>
        <td>
            <select name="Select Country" id="">
                <option value="India">India</option>
                <option value="America">America</option>
                <option value="Africa">Africa</option>
            </select>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button> <class class="bin-bin-dark">Register</class></button>
        </td>
    </tr>
    </table>
</body>
</html>