<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Shopping App</title>
</head>
<body class="body">
    <table>
    <tr>
        <td> Shop Name </td>
        <td> <input placeholder="Enter the Shop Name" type="text"> </td>
    </tr>
    <tr>
        <td> Address </td>
        <td> <input placeholder="Enter the Address" type="text"></td>
    </tr>
    <tr>
        <td> Email Id</td>
        <td><input placeholder="Enter the Email Id" type="text"></td>
    </tr>
    <tr>
        <td> Website </td>
        <td><input placeholder="Enter the website" type="text"></td>
    </tr>
    <tr>
        <td> Phone No</td>
        <td><input placeholder="Enter the Phone Number" type="text"></td>
    </tr>
    </body>
</body>
</html>