<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Seller App </title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Seller Name</td>
            <td><input placeholder="Enter the Seller Name" class="form-control" type="text"></td>
        </tr>
        <tr>
            <td> Seller Address</td>
            <td><input placeholder="Enter the Seller Address" class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Mail Id</td>
            <td><input placeholder="Enter Email Id" class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Phone No</td>
            <td><input placeholder="Enter Phone Number" class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>DOB</td>
            <td><input placeholder="Enter DOB" class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>District</td>
            <td>
                <select name="Select District" id="">
                    <option value="Cuddalore">Cuddalore</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Villupuram">Villupuram</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input placeholder="Enter the Age" class="form-control" type="number"></td>
        </tr>
        <tr>
            <td>Aadhar No</td>
            <td><input placeholder="Enter Aadhar Number" class="form-control" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>  <Button class="btn btn-danger">Submit</Button> </td>
        </tr>
    </table>
    
</body>
</html>