{% extends 'header.html'  %} 

{%  block myContent  %}
<body style="background-color: blue;">
    <center><h1 style="color:blue;">Delete Flat</h1></center>
<form action="http://127.0.0.1:8000/flat/deletesearch/" method="post">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-borderless">
                
                <tr>
                    <td>bno</td>
                    <td><input name="bno" type="number" class="form-control"></td>
                </tr>
                
                    <td></td>
                    <td><center><button type="submit" class="btn-success form-control" >SEARCH</center</button></td>
                </tr>
            </table>
        </form>
            {% if data %} 
            <form action="http://127.0.0.1:8000/flat/delete_action_api/" method="post">
<table class="table">
    {% for i in data %} 
    <tr>
        <td></td>
        <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>bno</td>
        <td><input name="newbno" value="{{i.bno}}" type="number" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>ownername</td>
        <td><input name="newownername" value="{{i.ownername}}" type="text" class="form-control" readonly></td>
    </tr>
    
    <tr>
        <td>address</td>
        <td><input name="newaddress" value="{{i.address}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>mobileno</td>
        <td><input name="newmobileno" value="{{i.mobileno}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>addharno</td>
        <td><input name="newaddharno" value="{{i.addharno}}" type="text" class="form-control" readonly><td>
    </tr>
    <tr>
        <td>email</td>
        <td><input name="newemail" value="{{i.email}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>username</td>
        <td><input name="newusername" value="{{i.username}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input name="newpassword" value="{{i.password}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-danger">DELETE</button></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endif %}


        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

    </div>
</div>
{% endblock %}


 
    
    
    
    
