{% extends 'header.html'  %}

{% block myContent  %}
 <body style="background-color: blue;">
   <center><h1 style="color:blue;">Flat Registration</h1></center> 

    

    <form action="http://127.0.0.1:8000/flat/add/" method="post">
        <div class="container">
            
            <div class="row">
                <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <table class="table table-borderless">
                        
                        <tr>
                            <td>bno</td>
                            <td><input name="bno" type="number" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>ownername</td>
                            <td><input name="ownername" type="text" class="form-control"></td>
                        </tr>
                        
                            <td>address</td>
                            <td><input name="address" textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></td>
                        </tr>
                        <tr>
                            <td>Mobilenumber</td>
                            <td><input name="mobileno" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>addharno</td>
                            <td><input name="addharno" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td><input name="email" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>Username</td>
                            <td><input name="username" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input name="password" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><center><button class="btn-success form-control">Register</center</button></td>
                        </tr>
                    </table>
                </div>
                <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    
            </div>
        </div>
    </form>
    </body>
{% endblock %}