{% extends 'header.html'  %} 

{%  block myContent  %}
<body style="background-color: blue;">
    <center><h1 style="color:blue;">Search Flat</h1></center>
<form action="http://127.0.0.1:8000/flat/search/" method="post">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-borderless">
                
                <tr>
                    <td>bno</td>
                    <td><input name="bno" type="text" class="form-control"></td>
                </tr>
                
                    <td></td>
                    <td><center><button type="submit" class="btn-success form-control">SEARCH</center</button></td>
                </tr>
            </table>
            {% if data %} 
<table class="table">
    {% for i in data %} 
    <tr>
        <td>bno</td>
        <td>{{i.bno}}</td>
    </tr>
    <tr>
        <td>ownername</td>
        <td>{{i.ownername}}</td>
    </tr>
    <tr>
        <td>address</td>
        <td>{{i.address}}</td>
    </tr>
    <tr>
        <td>mobileno</td>
        <td>{{i.mobileno}}</td>
    </tr>
    <tr>
        <td>addharno</td>
        <td>{{i.addharno}}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{i.email}}</td>
    </tr>
    <tr>
        <td>username</td>
        <td>{{i.username}}</td>
    </tr>
    <tr>
        <td>password</td>
        <td>{{i.password}}</td>
    </tr>

    {% endfor %}
</table>
{% endif %}

{% endblock  %} 
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

    </div>
</div>
</form>
</body>

