{% extends 'header.html' %} 

{% block myContent %} 
<body style="background-color: blue;">
    <center><h1 style="color:blue;">View Flat</h1></center>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-borderless">
                <thead class="table-warning">
                    <tr>
                        <th>bno</th>
                        <th>ownername</th>
                        <th>address</th>
                        <th>mobileno</th>
                        <th>addharno</th>
                        <th>email</th>
                        <th>username</th>
                        <th>password</th>
                
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %} 
                   <tr>
                       <td>{{i.bno}}</td>
                       <td>{{i.ownername}}</td>
                       <td>{{i.address}}</td>
                       <td>{{i.mobileno}}</td>
                       <td>{{i.addharno}}</td>
                       <td>{{i.username}}</td>
                       <td>{{i.username}}</td>
                       <td>{{i.password}}</td>
                   </tr>
                
                {% endfor %}
                        
            </tbody>
        </table>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

</div>
</div>
{% endblock  %}    


                
