body{
background-image: url(http://getwallpapers.com/wallpaper/full/e/7/4/90169.jpg);
background-repeat: no-repeat;
background-size:cover;
}


table
{
	/* border:2px solid lightblue; */
	margin-top: 50px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.views,.add{
    padding:10px; 
	margin-left:200px;
	margin-right:200px;
	margin-bottom:50px; 
	text-align: center;
	color: blue;
	text-shadow: 3px 3px white;
    text-transform: uppercase;
}

h6{
font-style: oblique;
color:blue;
}
td{
    text-align: left;
    color:rgb(255, 255, 255);
    font-style: oblique;
}
th{
    text-align: center;
    color: blue;
}

    
h3{
    padding:10px; 
	margin-left:200px;
	margin-right:200px;
    text-align: center;
	color: blue;
	text-shadow: 3px 3px white;
    
    text-transform: uppercase; 
}

button{
    width: 250px;
    height: 40px;
}

