{% extends 'header.html' %}

{% block MyContent %}

    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <form action="../insert/" method="POST">
                    <h5 class="add">ADD FLAT DETAILS</h5>
                <table class="table table-borderless">
                    <tr>
                        <td >BUILDING NUMBER</td>
                        <td><input name="Bno" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >BUILDING OWNER</td>
                        <td><input name="Oname" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >MOBLIE NUMBER</td>
                        <td><input name="Mobile" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >ADDRESS</td>
                        <td><input name="Adress" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >ADAHAR NUMBER</td>
                        <td><input name="Adahar" type="number" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >EMAIL ID</td>
                        <td><input name="Emailid" type="email" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >PASSWORD</td>
                        <td><input name="Password" type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-primary">ADD</button></td>
                    </tr>
                </table>
            </form>
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
{% endblock %}