{% extends 'base.html' %}

{% block mycontent %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
        <form action="./update" method="GET">
            <table>
                <tr>
                    <td>Enter Building No:</td>
                    <td><input type="text" class="form-control" name="bno">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-success">Search</button></td>
                </tr>
            </table>
          </form>
        {% if data %}
        <form action="./update" method="post">
        <table class="table borderless">
    
                {% for i in data %}
                <tr>
                    <td>Building No</td>
                    <td><input type="number" name="bno" class="form-control" value={{i.bno}}></td>
                </tr>
                <tr>
                    <td>Ownername</td>
                    <td><input type="text" name="ownername" class="form-control" value={{i.ownername}}></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input type="text" name="address" class="form-control" value={{i.address}}></td>

                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type="number" name="mobile" class="form-control"value={{i.mobile}}></td>

                </tr>
                <tr>
                    <td>Aadhar</td>
                    <td><input type="number" name="aadhar" class="form-control"value={{i.aadhar}}></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" class="form-control"value={{i.email}}></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" class="form-control"value={{i.password}}></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><button class="btn btn-success">Update</button></td>
                </tr>
                
            
            
        </table>
        </form>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}