{% extends 'base.html' %}

{% block mycontent %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
        {% if data %}
        <table class="table">
            <tr>
                <th>Building_No</th>
                <th>OwnerName</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Aadhar</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            <tbody>
                {% for i in data %}
                <tr>
                    <td><input type="number" readonly name="bno" class="form-control" value={{i.bno}}></td>
                    <td><input type="text" name="ownername" class="form-control" value={{i.ownername}}></td>
                    <td><input type="text" name="address" class="form-control" value={{i.address}}></td>
                    <td><input type="number" readonly name="mobile" class="form-control"value={{i.mobile}}></td>
                    <td><input type="number" readonly  name="aadhar" class="form-control"value={{i.aadhar}}></td>
                    <td><input type="email" name="email" class="form-control"value={{i.email}}></td>
                    <td><input type="password" name="password" class="form-control"value={{i.password}}></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
      </div>
      <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>

{% endblock %}